<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bupt.icyicarus.nevernote">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyACwJPuT9EH5OI-r_mUJillausCQ6txedE" />

        <activity
            android:name=".view.LaunchView"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MergeView"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".noteList.NoteList"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".view.NoteView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Edit Note"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.MapView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AudioRecorder"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Audio Recorder"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".config.Settings"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Settings" />
        <activity
            android:name=".alarm.AlarmList"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Alarm List" />
        <activity
            android:name=".alarm.NeverNoteAlarm"
            android:theme="@style/NoDisplayTheme" />

        <receiver android:name=".receiver.NeverNoteAlarmReceiver" />
        <receiver android:name=".receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>